.main-box {
  background-image: url(../images/bg-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  margin: 0 auto;
  height: 600px;
}
/* .main-box {
  width: 800px;
  margin: 0 auto;
} */
.main-img {
  width: 100%;
}
.ideas-logo img {
  width: 200px;
}
.right-box,
.left-box {
  width: 50%;
  float: left;
  height: 100%;
}
.primary-color {
  color: #8cc63e;
}
.primary-bg {
  background: #8cc63e;
}
.apply-now-section {
  border-top: 3px solid;
  border-bottom: 3px solid;
  display: inline-block;
  border-color: #8cc63e;
}
.ideas-logo img {
  width: 250px;
}
